<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'tarot/tarot-card.png' %}">
    <link rel="stylesheet" href="{% static 'tarot/styles.css' %}?ver={{ css_version }}">
    <script src="{% static 'tarot/script.js' %}" defer></script>
</head>
<body>
<div class="deck top" id="spread-deck">
    <div class="spread" id="past" onclick="clickSpread(this)"></div>
    <div class="spread" id="present" onclick="clickSpread(this)"></div>
    <div class="spread" id="future" onclick="clickSpread(this)"></div>
</div>
<div class="deck bottom" id="cards-deck">
    {% for card in cards %}
        <div class="card" id="card{{ forloop.counter0 }}">
            <div class="back"></div>
            <img src="{{ card.src }}" class="{{ card.class }}" alt="{{ card.alt }}">
        </div>
    {% endfor %}
</div>
</body>
</html>